<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics-Assets/styles/Styles.css">
    <title>Rediseño de mi Presentación</title>
</head>
<body>
    <div id="barraina">
        <img src="../Statics-Assets/Instagrami.png" usemap="#image-map" width="75"height="75">

        <map name="image-map">
        <area target="_blank" alt="igma" title="igma" href="https://www.instagram.com/josevela39/" coords="2,0,199,199" shape="rect">
        </map>
        <img src="../Statics-Assets/face.png" usemap="#image-map" width="75"height="75">

    <map name="image-map">
        <area target="_blank" alt="Facebook" title="Facebook" href="https://www.facebook.com/" coords="7,6,503,511" shape="rect">
    </map>
    </div>
    <br>
    <br>
    <div id="titulo">Mi presentacion</div>
    <p id="name">
        José Manuel Vela Gómez
    </p>
    <img id="imgyo" src="../Statics-Assets/yo.jpg" alt="Imagenyo" style="border: 3px solid #000">
    <div id="contgus">
        <p id="gustos">
            Actualmente estoy interesado en expandir mis conocimientos <br>sobre la programación, aunque a veces no entiendo todo, con <br>repaso logro entenderle.
            También estoy interesado en mejorar<br> en mis pasatiempos como los videojuegos y el basketball.
        </p>
    </div>
    <div id="backcontgus">
        <img id="ibas" src="../Statics-Assets/basket.png" alt="bask">
    </div>
    <div id="contgus2">
        <p id="gustos">
            Me gustan mucho los gatos, seguidos de los <br> perros. Tengo 2 gatos y un perro, llamados <br>Benita y Umi como gatos, y Ziva 
            como mi <br> perrito.<br> Arrastra tu mouse o curso  sobre <br>este cuadrado para poder<br> ver una foto de Umi. <br> P.D.(Umi es el blanco)
        </p>
    </div>
    <div id="backcontgus2">
        <img id="ium" src="../Statics-Assets/umi.jpg" alt="Umi">
    </div>
    <br>
    <br>
        <hr>
        <h1 class="timp"> Mis personajes favortitos </h1>
        <div id="conttabla"><table id="tabla" border="2" style="border-collapse:collapse;" cellpadding="30px" >
                <thead>
                    <tr>
                            <th>Personaje</th>
                            <th>Foto</th>
                            <th>¿Por qué?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Rayo McQueen </td>
                        <td> 
                            <img src="../Statics-Assets/macqueen.png" alt="mcimagen" width="250"height="200"></li>
                        </td>
                        <td>
                            Porque me gusta el desarrollo que tiene <br>
                            en la pelicula, enseñandonos que hay que ser humildes.
                        </td>
                    </tr>
                        <td> Gato con Botas </td>
                        <td> 
                            <img src="../Statics-Assets/gatoconb.jpg" alt="mcimagen" width="250"height="200"></li>
                        </td>
                        <td>
                            Porque nos enseña que hay que dejar a lado <br>
                            nuestro ego y que es mejor pensar en nosotros y en los demás.
                        </td>
                    </tr>
                </tbody>
        </table></div>
        <hr>
        <br>
        <center><div id="Temas">
            <h1 id="TT">Curso Web</h1>
            <br>
            Durante el curso web hemos visto diversos temas que me han<br>
            gustado mucho, se dividen en 7 temas principales y los voy a <br>
            enumerar conforme más me han gustado: <br>
                <ol>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>GIT HUB</li>
                    <li>GIT</li>
                    <li>PHP</li>
                    <li>Base de datos</li>
                    <li>JS</li>
                </ol>
        </div></center>
        <hr>
        <br>
        <br>
        <center><div id="dibujo">
            <div id="cuerpo"></div>
            <div id="cuerpoat"></div>
            <div id="ojoi"></div>
            <div id="ojod"></div>
            <div id="pupii"></div>
            <div id="pupid"></div>
            <div id="panza"></div>
            <div id="boca"></div>
        </div></center>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <div class="contenedor">
            <div class="listas">
                <p><strong>Mis peliculas favoritas</strong></p>
                    <ol>
                        <li>"Cars"
                        <br>
                        <br>
                        <img src="../Statics-Assets/carsi.jpg" alt="carsimagen" width="250"height="200"></li>
                        <br>
                        <li>"El gato con botas: El último deseo"
                        <br>
                        <br>
                        <img src="../Statics-Assets/gato.jpg" alt="gatoimagen" width="150"height="200"></li>
                    </ol>
            </div>
        <div class="listas">
            <p><strong>Mis comidas favoritas</strong></p>
            <ul>
                <li>pizza
                <br>
                <br>
                <img src="../Statics-Assets/pizzai.jpg" alt="pizzaimagen" width="250"height="200"></li>
                <br>
                <li>spaghetti
                <br>
                <br>
                <img src="../Statics-Assets/spai.jpg" alt="spaimagen" width="250"height="200"></li>
            </ul>
        </div>
    </div>
        <hr>
        <h1> Mi canción favorita </h1>
        <a class="cambco" href="https://youtu.be/SvizVoNjv7A">Die For You-The Weeknd</a>
        <hr>
        <br>
        <h1 align=center> Audio y video random </h1>
        <center><audio src="../Statics-Assets/risa-de-ardilla-plantilla.mp3" controls>
                <source src="../Statics-Assets/risa-de-ardilla-plantilla.wav" type="audio/wav">
        </audio></center>
        <br>
        <br>
        <br>
        <center><iframe width="1000" height="562" src="https://www.youtube.com/embed/rp3JlSipP_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>
</body>
</html>