<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/dista.css">
    <title>MiTiendadAnimaciones</title>
</head>
<body>
    <div id="barr">
        <header id="hbarr">
            <div id="imgbarr"></div>
            <div id="nomusu">VeL4657</div>
            <div id="ultimate">ULTIMATE</div>
            <div id="imgcons"></div>
            <div id="imgn"></div>
        </header>
        <div class="conttext">
            <div id="imgGmp"></div>
            <div id="textgmp">Game Pass</div>
        </div>
        <div class="conttext1">
            <div id="imgmib"></div>
            <div id="textmib">Mi Biblioteca</div>
        </div>
        <div class="conttext2">
            <div id="imgxbcg"></div>
            <div id="textxbcg">Xbox Cloud Gaming</div>
        </div>
        <div class="conttext3">
            <div id="imgcom"></div>
            <div id="textcom">Comunidad</div>
        </div>
        <div class="conttext4">
            <div id="imgst"></div>
            <div id="textst">Store</div>
        </div>
        <div id="imgj"></div>
        <div id="cola"></div>
    </div>
    <div id="contenedor">
        <div id="contenanun">Obten las animaciones de<br>
                             tus juegos favoritos</div>
        <div id="contenanun1"></div>
        <div id="contenanun2"></div>
        <div id="flecpi"></div>
        <div id="contanima">
            <div id="contani1">
                <div id="cup"></div>
                <div id="cupdis"></div>
            </div>
            <div id="cupp">
                <br>Cuphead: $100<br><br>
                Disparo: $50
            </div>
            <div id="contani2">
                <div id="steve"></div>
                <div id="araña"></div>
            </div>
            <div id="minep">
                <br>Steve: $150<br><br>
                Araña: $100
            </div>
            <div id="contani3">
                <div id="carro"></div>
                <div id="balon"></div>
            </div>
            <div id="rockp">
                <br>Carro: $150<br><br>
                Balon: $150
            </div>
            <div id="con1lo"></div>
            <div id="con2lo"></div>
            <div id="con3lo"></div>
        </div>
    </div>
    
</body>
</html>